*.class
*.log
*.jar

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IntelliJ
*.iml
*.ipr
*.iws
.idea
out

# eclipse
build
.classpath
.cache-main
.project
.settings
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml
/bin/
